@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
}

header {
    background-color: #6DB0B4;
    height: 68px;
}

.container {
    display: flex;
}

.left-content {
    padding: 50px;
}

#chartdiv{
    margin-bottom: 20px;
}

/* Style général pour .annee */
.annee {
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Style pour le label */
.annee label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
    color: #333;
}

/* Style pour le select */
.annee select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    transition: border 0.3s ease;
}

/* Effet de focus sur le select */
.annee select:focus {
    outline: none;
    border-color: #026C94;
}

/* Style pour le texte de résultat */
#result {
    font-size: 16px;
    margin-top: 15px;
    color: #333;
    font-weight: 400;
}

/* Ajout de l'hover effect sur le select */
.annee select:hover {
    border-color: #026C94;
}


